Pandas -- Pandas is used for data manipulation analysis and cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,2,3,4,5,6,7,8,9,10])

In [3]:
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
d=pd.date_range('20020301',periods=10)

In [5]:
print(d)

DatetimeIndex(['2002-03-01', '2002-03-02', '2002-03-03', '2002-03-04',
               '2002-03-05', '2002-03-06', '2002-03-07', '2002-03-08',
               '2002-03-09', '2002-03-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [7]:
print(df)

                   A         B         C         D
2002-03-01 -0.818602 -1.130923 -0.593194 -0.278080
2002-03-02 -0.359940  0.367009 -0.093283  0.407153
2002-03-03  0.229818  0.797151  3.086393 -1.162903
2002-03-04  0.955823 -0.471907 -1.391095  0.569345
2002-03-05 -0.428979  1.496610  1.767154 -1.564334
2002-03-06 -1.485679 -0.211510  0.313440 -0.079958
2002-03-07  3.300614  1.605024 -0.208378 -0.405459
2002-03-08  0.855264 -1.115427  0.125608 -1.413724
2002-03-09 -1.278479 -0.426647  1.501668 -0.681226
2002-03-10 -1.253418 -0.528924  1.142932 -1.172095

In [8]:
df1=pd.DataFrame({'A':[1,2,8,4,5],
                 'B':pd.Timestamp('20230301'),
                 'C':pd.Series(1,index=list(range(5)),dtype='float32'),
                 'D':np.array([5]*5, dtype='int32'),
                 'E':pd.Categorical(['true','False','True','False','True']),
                 'F':"Rajan"
                })

In [9]:
print(df1)

   A          B    C  D      E      F
0  1 2023-03-01  1.0  5   true  Rajan
1  2 2023-03-01  1.0  5  False  Rajan
2  8 2023-03-01  1.0  5   True  Rajan
3  4 2023-03-01  1.0  5  False  Rajan
4  5 2023-03-01  1.0  5   True  Rajan

In [10]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head() 
# head it will return the top 5 of data

                   A         B         C         D
2002-03-01 -0.818602 -1.130923 -0.593194 -0.278080
2002-03-02 -0.359940  0.367009 -0.093283  0.407153
2002-03-03  0.229818  0.797151  3.086393 -1.162903
2002-03-04  0.955823 -0.471907 -1.391095  0.569345
2002-03-05 -0.428979  1.496610  1.767154 -1.564334

In [17]:
df.tail()
# tail will return the bottom 5 of the data

                   A         B         C         D
2002-03-06 -1.485679 -0.211510  0.313440 -0.079958
2002-03-07  3.300614  1.605024 -0.208378 -0.405459
2002-03-08  0.855264 -1.115427  0.125608 -1.413724
2002-03-09 -1.278479 -0.426647  1.501668 -0.681226
2002-03-10 -1.253418 -0.528924  1.142932 -1.172095

In [13]:
df.index
# it return the all index value from data

DatetimeIndex(['2002-03-01', '2002-03-02', '2002-03-03', '2002-03-04',
               '2002-03-05', '2002-03-06', '2002-03-07', '2002-03-08',
               '2002-03-09', '2002-03-10'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns
# columns  return the numbe of coloums

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df1.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [21]:
df.to_numpy()

array([[-0.81860185, -1.1309232 , -0.59319369, -0.27808002],
       [-0.35993985,  0.3670087 , -0.09328299,  0.40715319],
       [ 0.22981844,  0.79715099,  3.08639257, -1.16290309],
       [ 0.955823  , -0.47190652, -1.39109546,  0.56934478],
       [-0.4289786 ,  1.49660976,  1.76715395, -1.56433429],
       [-1.48567923, -0.21151031,  0.31343984, -0.07995819],
       [ 3.30061432,  1.60502429, -0.20837804, -0.40545945],
       [ 0.85526437, -1.11542744,  0.12560805, -1.41372363],
       [-1.27847851, -0.42664672,  1.50166818, -0.68122636],
       [-1.25341812, -0.5289243 ,  1.14293218, -1.17209506]])

In [22]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.028358   0.038046   0.565124  -0.578128
std     1.452217   0.990174   1.311041   0.747715
min    -1.485679  -1.130923  -1.391095  -1.564334
25%    -1.144714  -0.514670  -0.179604  -1.169797
50%    -0.394459  -0.319079   0.219524  -0.543343
75%     0.698903   0.689615   1.411984  -0.129489
max     3.300614   1.605024   3.086393   0.569345